@import url("./iransans-fonts.css");
@import url("./reset.css");
@import url("./style.css");
@import url("./input.css");
@import url("./info.css");
@import url("./info-send.css");
@import url("./user-info.css");
@import url("./orderdetail.css");
