/* info section */
.info--wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(3.5rem, 3vw, 4rem);
}
.title--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info--block {
  display: flex;
  flex-direction: column;
  gap: clamp(1.4rem, 2vw, 1.8rem);
}

.info--block .title {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  font-weight: 700;
  color: var(--color-black);
}
.info--block__content {
  display: flex;
  flex-direction: column;
  gap: clamp(1.6rem, 2vw, 1.8rem);
}

.address {
  color: var(--color-red-primery);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: 300;
}

.address span {
  font-weight: 300;
  margin-top: 0.2rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 64rem) {
  .info--block__content {
    flex-direction: row;
  }
}
