:root {
  --color-blue-300: #448cf91a;
  --color-blue-700: #2e7af1;
  --color-green-300: #1bac441a;
  --color-red-300: #e5303f1a;
  --color-red-300: #e5303f1a;
  --color-red-primery: #cc312d;
  --color-red-primery--light: #fcb3b1;
  --color-red-secondery: #2f0d0c;
  --color-yellow-300: #ebb81140;
  --color-gray-200: #f7f7f7;
  --color-gray-300: #1717171a;
  --color-gray-400: #302f2fa2;
  --color-gray-600: #494a48;
  --color-gray-900: #606060;
  --color-black: #1a1814;
  --color-black--secondery: #14141466;

  --font-family: "IRANSansX";
}
/* defulte web PX size */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
}
* {
  transition: all ease-out 0.2s;
}
@media screen and (min-width: 72rem) {
}

/* custom line */
.line--mobile {
  align-self: center;
  width: 93%;
  display: block;
  height: 2px;
  background-color: var(--color-gray-200);
  border-radius: 50%;
  margin: 1.5rem 0;
}
/* custom line */
.line--desktop {
  justify-self: center;
  align-self: center;
  display: block;
  height: 2px;
  background-color: var(--color-gray-200);
  border-radius: 50%;
}
.send--method .line--desktop {
  margin-bottom: 3.2rem;
}
.line--form {
  display: block;
  height: 1px;
  background-color: var(--color-gray-300);

  margin: 1.5rem auto;
}

@media screen and (min-width: 64rem) {
  .line--mobile {
    display: none;
  }
}

/* btn */
.btn {
  display: block;
  width: 100%;
  font-size: clamp(1.4rem, 2vw, 1.7rem);
  font-weight: 700;
  line-height: 1.4;
  padding: 1rem 0;
  text-align: center;
  outline: none;
  border: 3px solid transparent;
  border-radius: 4rem;
  transition: all 400ms;
  cursor: pointer;
}
.btn--primery {
  background-color: var(--color-red-primery);
  color: white;
  font-family: inherit;
}
.btn--primery:hover {
  background-color: transparent;
  border: 3px solid var(--color-red-primery);
  color: var(--color-red-primery);
}
/* container */
.container {
  max-width: 95vw;
  margin: clamp(0rem, 8vw, 10rem) auto;
}
@media screen and (min-width: 48rem) {
  .container {
    max-width: 85vw;
  }
}

/* form */
.payment--form {
  display: grid;
  border: 2px solid var(--color-gray-300);
  padding: clamp(0rem, 2vw, 3.4rem) clamp(0rem, 2vw, 2.4rem);
  border-radius: 1.6rem;
  gap: 7rem;
}
@media screen and (min-width: 72rem) {
  .payment--form {
    grid-template-columns: 7fr 3fr;
    gap: 2.4rem;
  }
}
