:root {
  --color-blue-300: #448cf91a;
  --color-blue-700: #2e7af1;
  --color-green-300: #1bac441a;
  --color-red-300: #e5303f1a;
  --color-red-300: #e5303f1a;
  --color-red-primery: #cc312d;
  --color-red-primery--light: #fcb3b1;
  --color-red-secondery: #2f0d0c;
  --color-yellow-300: #ebb81140;
  --color-gray-200: #f7f7f7;
  --color-gray-300: #1717171a;
  --color-gray-400: #302f2fa2;
  --color-gray-600: #494a48;
  --color-gray-900: #606060;
  --color-black: #1a1814;
  --color-black--secondery: #14141466;

  --font-family: "IRANSansX";
}
/* defulte web PX size */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
}
* {
  /* transition: all ease-in 0.2s; */
}

/* custom line */
.line--mobile {
  align-self: center;
  width: 93%;
  display: block;
  height: 2px;
  background-color: var(--color-gray-200);
  border-radius: 50%;
  margin: 1.5rem 0;
}
/* custom line */
.line--desktop {
  justify-self: center;
  align-self: center;
  display: block;
  height: 2px;
  background-color: var(--color-gray-200);
  border-radius: 50%;
}
.send--method .line--desktop {
  margin-bottom: 3.2rem;
}
.line--form {
  display: block;
  height: 1px;
  background-color: var(--color-gray-300);

  margin: 1.5rem auto;
}

@media screen and (min-width: 64rem) {
  .line--mobile {
    display: none;
  }
}

/* order detail */
.order--detail--block {
  display: grid;
  gap: clamp(1.5rem, 3vw, 1.9rem);
  padding: 2.4rem;
  background-color: var(--color-gray-200);
  border-radius: 1.6rem;
}
.order--detail__title {
  font-size: 1.7rem;
  font-weight: 400;
}
.order--detail__title span {
  font-weight: 700;
  font-size: clamp(1.9rem, 3vw, 2.2rem);
}

/* order card */
.order--card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-200);
  cursor: pointer;
  padding: 1.7rem 0;
  flex: 0;
}

.order--img {
  width: clamp(7rem, 9vw, 9rem);
  object-fit: cover;
}
.image--frame {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1.3rem;
  width: 100%;
  border-radius: 1.2rem;
}
@media screen and (min-width: 25rem) {
  .order--card {
    flex-direction: row;
  }
  .image--frame {
    width: auto;
  }
}
.order--card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card--header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}
.card--title--wrapper {
  text-wrap: npwrap;
}
.card--footer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.order--size {
  font-weight: 600;
  font-size: 1.6rem;
}
.order--size span {
  font-weight: 200;
}
.card--title {
  font-size: 1.36rem;
  font-weight: 700;
}
.card--description {
  font-size: 1.2rem;
  font-weight: 400;
}

.edit {
  display: flex;
  gap: 0.6rem;
}
/* icons */
.trash {
  width: 1.7rem;
}
.circle--icon {
  width: clamp(4rem, 5vw, 5rem);
  height: clamp(4rem, 5vw, 5rem);
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  font-size: 2rem;
  padding-top: 0.37rem;
  font-weight: 200;
}

.number {
  font-size: 1.2rem;
  padding-top: 0.37rem;
  font-weight: 500;
  border: 1px solid var(--color-gray-300);
  background-color: transparent;
}

.circle--icon:hover {
  background-color: var(--color-red-primery--light);
}

/* total price */
.total--block {
  background-color: white;
  padding: 1.6rem;
  border-radius: 1.2rem;
}
.total--header {
  display: grid;
  gap: 1.2rem;
}
.total--header__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.total--header__title {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: 400;
  line-height: 1.8;
  color: var(--color-black);
}
.total--header__price {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  color: var(--color-black--secondery);
}
.total--footer {
  display: flex;
  justify-content: space-between;
}
.total--footer__title {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: 700;
  line-height: 1.8;
  color: var(--color-black);
}
.total--footer__price {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: 700;
  line-height: 1.8;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.total--footer__price span {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  color: var(--color-black--secondery);
  font-weight: 400;
}

/* payment */
.payment--block {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: clamp(1.3rem, 3.5vw, 1.7rem) clamp(1rem, 3.5vw, 1.3rem);
  background-color: white;
  border-radius: 1.2rem;
  gap: 0.8rem;
}
.payment--img {
  width: 2.5rem;
}
.payment--img__frame {
  padding: 1.01rem;
  border-radius: 1.2rem;
  background-color: var(--color-yellow-300);
}
.payment--detail {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: var(--color-black);
}

.payment--detail span {
  font-weight: 700;
}

/* btn */
.btn {
  display: block;
  width: 100%;
  font-size: clamp(1.4rem, 2vw, 1.7rem);
  font-weight: 700;
  line-height: 1.4;
  padding: 1rem 0;
  text-align: center;
  outline: none;
  border: 3px solid transparent;
  border-radius: 4rem;
  transition: all 400ms;
  cursor: pointer;
}
.btn--primery {
  background-color: var(--color-red-primery);
  color: white;
  font-family: inherit;
}
.btn--primery:hover {
  background-color: transparent;
  border: 3px solid var(--color-red-primery);
}
