:root {
  --color-blue-300: #448cf91a;
  --color-blue-700: #2e7af1;
  --color-green-300: #1bac441a;
  --color-red-300: #e5303f1a;
  --color-red-primery: #cc312d;
  --color-red-primery--light: #fcb3b1;
  --color-red-secondery: #2f0d0c;
  --color-gray-200: #f7f7f7;
  --color-gray-300: #1717171a;
  --color-gray-400: #302f2fa2;
  --color-gray-600: #494a48;
  --color-gray-900: #606060;
  --color-black: #1a1814;

  --font-family: "IRANSansX";
}
/* defulte web PX size */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
}
* {
  /* transition: all ease-in 0.2s; */
}

/* custom line */
.line--mobile {
  align-self: center;
  width: 93%;
  display: block;
  height: 2px;
  background-color: var(--color-gray-200);
  border-radius: 50%;
  margin: 1.5rem 0;
}
/* custom line */
.line--desktop {
  justify-self: center;
  align-self: center;
  display: block;
  height: 2px;
  background-color: var(--color-gray-200);
  border-radius: 50%;
}
.send--method .line--desktop {
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 64rem) {
  .line--mobile {
    display: none;
  }
}
